<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Random Draw{% endblock %}</title>
        <link rel="icon" href="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <header>
        <div>
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/logo_small.png') }}" alt="Random Drawer">
            </a>
        </div>
    </header>
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <body>
        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            Made by FLICHY Nicolas
        </footer>
    </body>
</html>
